.background-image {
    background-image: url('../../assets/background-image-full.jpg');
    position: fixed;
    width: 100vw;  
    height: 100vh; 
    background-size: cover; 
    background-position: center;
    background-repeat: no-repeat;
    filter: blur(2px);
    z-index: -1000;
    transition: 1.5s ;
}

.background-image-scrolled {
    width: 100vw; 
    height: 0vh;
    transition: 1.5s ;
    filter: blur(20px);
}

.background-image::after {
    content: '';
    position: absolute; /* Position at the bottom */
    bottom: 0; /* Align to the bottom */
    left: 0;
    width: 100%; /* Full width */
    height: 30%; /* Adjust height as needed for the fade */
    background: linear-gradient(to bottom, rgba(45, 45, 45, 0.1) 0%, rgb(45, 45, 45) 100%); /* Fade effect */
    z-index: 1; /* Place it above the background */
    filter: blur();
}
